doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
		meta(name="description" content="Los borbotones")
		meta(name="keywords" content="Los, borbotones")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Los borbotones - Administración de usuarios
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" type="text/javascript")
		link(rel="stylesheet" href="/CSS/Custom_Responsive.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Style.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/defaults.min.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/nav-core.min.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/nav-layout.min.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/ie8-core.min.css" type="text/css")
		link(rel="stylesheet" href="/CSS/Menu/ie8-layout.min.css" type="text/css")
		script(src="/JS/Menu/html5shiv.min.js" type="text/javascript")
		script(src="/JS/Menu/rem.min.js" type="text/javascript")
		script(src="/JS/funciones.js" type="text/javascript")
		script(src="/JS/admin_usuario.js" type="text/javascript")
	body
		div(class="Header" title="Los borbotones")
			div(class="Header_Logo" title="Los borbotones")
				a(href="http://www.losborbotones.com")
					img(class="Logo" src="/Imagenes/Logo.png" alt="Los borbotones")
			div(class="NameSite" )
				&nbsp;
		div(class="clear")
		div(class="Menu")
			a(href="#" class="nav-button") Menu
			nav(class="nav")
				ul
					li(class="nav-submenu")
						a(href="#") Administrar
						ul(style="display:none")
							li
								a(href="/") Usuarios
							li
								a(href="/") Vendedores
							li
								a(href="/") Ventas
							li
								a(href="/") Productos
					li(class="nav-submenu")
						a(href="#") Consultas
						ul(style="display:none")
							li
								a(href="/") Ventas
							li
								a(href="/") Productos
					li
							a(href="/") Cerrar sesión

			a(href="#" class="nav-close") Close Menu
	block contenido
	div(class="footer")
		div(class="contenf")
			div(class="contentfooterizq left" style="white-space:pre;")
				strong  Conmutador: 
				|+57(1) 222 3344 - Central de fax: +57(1) 222 4455
				| 
				strong Punto de atención presencial: 
				|Carrera 21 No. 44-55 piso 12, Bogotá
				|  En Bogotá: +57(1) 222 3345 Resto del país: 018000951244
				| 
				| 
				strong Horario de atención: 
				|Lunes a Viernes de 7:00 a.m. a 9:00 p.m. y sábados de 8:00 a.m. 
				|  a 1:00 p.m. en jornada continua.
			div(class="contentfooterder left" style="white-space:pre;")
				div(class="itemR")
					a(alt="PQRSD" title="PQRSD" href="https://www.empresa.com/" target="_blank") Solicitudes, sugerencias y reclamos &nbsp;
					a(alt="PQRSD" title="PQRSD" href="https://www.empresa.com/" target="_blank")
						img(src="imagenes/Sobre.jpg" alt="PQRSD" title="PQRSD")
				a(href="https://www.empresa.com/" target="_blank" title="Terminos y condiciones") Términos y condiciones de uso.
				| 
				| 
				| 
				div(class="compartir")
					div(class="itemR")
						a(id="facebookEnlace" title="Ingresar a Facebook MinSaludCol" href="https://www.facebook.com/Empresa" target="_blank")
						img(style=" border-style:none; " src="/Imagenes/Facebook.png" alt="Ingresar a Facebook Empresa" title="Ingresar a Facebook Empresa")
					div(class="itemR")
						a(id="twitterEnlace" title="Ingresar a Twitter" href="https://twitter.com/Empresa")
						img(style=" border-style:none; " src="/Imagenes/Twitter.png" alt="Ingresar a Twitter Empresa" title="Ingresar a Twitter Empresa")
					div(class="itemR")
						a(title="Ingresar a YouTube" href="https://www.youtube.com/Empresa" target="_blank")
						img(src="/imagenes/YouTube.png" alt="Ingresar a YouTube Empresa" title="Ingresar a YouTube Empresa")
					div(class="itemR")
						a(title="Ingresar a Instagram" href="https://instagram.com/Empresa/" target="_blank")
						img(src="/imagenes/Instagram.png" alt="Ingresar a Instagram Empresa" title="Ingresar a Instagram Empresa")
					div(class="itemR")
						a(title="Ingresar a Linkedin" href="https://www.linkedin.com/Empresa/" target="_blank")
						img(src="/imagenes/in.jpg" alt="Ingresar a Linkedin Empresa" title="Ingresar a Linkedin Empresa")
					div(class="itemR")
						a(title="Ingresar a servicio RSS" href="https://www.empresa.com/rss.aspx" target="_blank")
						img(src="/imagenes/RSS.png" alt="Ingresar a servicio RSS" title="Ingresar a servicio RSS")
					div(class="clear")
		div(class="clear")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="/JS/Menu/nav.jquery.min.js")
	script 
		$(".nav").nav();