#Text_correoRecupera{
    position: absolute;
    width: 140px;
    height: 45px;
    left: 400px;
    top: 30px;
    border-radius: 10px;
}

#Btn_Cancelar{
    width: 140px;
    height: 45px;
    left: 400px;
    top: 340px;
    border-radius: 10px;

}

#Btn_Recuperar{
    width: 140px;
    height: 45px;
    left: 400px;
    top: 340px;
    border-radius: 10px;

}